@import url("./main.css");

:root {
  --opt-hov: #FDD6BA;
  --opt-def: #F4F1EB;
  --opt-act: #0E8784;
  --menu-clo-dis-text: #83888F;
}

body {
  background-color: #F2F2F2;
}

.main {
  padding-bottom: 168px;
}

.main-inner {
  background-image: url("../img/maker_img.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 134px 85px;
}

.main-inner h1 {
  margin-bottom: 32px;
  font-family: var(--Fs);
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}

.main-inner p {
  width: 445px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

/* ******************** process ******************** */
.Working_proccess {
  padding-bottom: 158px;
}

.process-inner {
  background-color: #2C343E;
  border-radius: 10px;
  margin: 0;
  padding: 91px 150px 107px 85px;
}

.process-item h3 {
  color: #FEFCF7;
}

.process-item p {
  color: #FEFCF7;
}

.graph {
  width: 76%;
}

.line {
  width: 52%;
  z-index: 0;
}

.oval {
  background-color: #2C343E;
  position: relative;
  z-index: 1;
}

/* coffee making additions and steps */
.coffee_making {
  padding-bottom: 168px;
}

.coffee_making_inner {
  margin: 0 85px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.making_steps {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.step {
  opacity: 0.4;
}

.step:hover {
  opacity: 0.6;
}

.step a {
  width: 225px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.step span {
  font-family: var(--Fs);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
}

.step h4 {
  font-family: var(--Fs);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
}

.step:active,
.step.actstep {
  opacity: 1;
}

.step:active,
.step.actstep span {
  color: var(--opt-act);
}

.second_column_wrap {
  margin-left: 125px;
}

.title_item {
  width: 730px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_item h2 {
  font-family: var(--Fs);
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
}

.title_item img {
  transform: rotate(360deg);
}

.inner_list {
  margin: 56px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner_item {
  padding: 32px 25px 84px 25px;
  background-color: var(--opt-def);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.inner_item h4 {
  font-family: var(--Fs);
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
}

.inner_item p {
  width: 172px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.inner_item:hover {
  background-color: var(--opt-hov);
}

.inner_item:active,
.inner_item.active {
  background-color: var(--opt-act);
}

.inner_item:active h4,
.inner_item.active h4 {
  color: #FFFFFF;
}

.inner_item:active p,
.inner_item.active p {
  color: #FEFCF7;
}

.order_sum {
  width: 730px;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.sum {
  background: #2C343E;
  border-radius: 10px;
  padding: 27px 64px;
  mix-blend-mode: normal;
  /* opacity: 0.15; */
}

.sum p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.sum span {
  font-family: var(--Fs);
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
}

.btn-link {
  margin-top: 40px;
  border: none;
}