@mixin link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: $Gy;
}
@mixin dis-fle($a,$j) {
  display: flex;
  align-items: $a;
  justify-content: $j;
}
@mixin h1 {
  font-family: $Fs;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: $BG;
}
@mixin h2 {
  font-family: $Fs;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: $BG;
}
@mixin h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: $DGB;
}
@mixin h4 {
  font-family: $Fs;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: $BG;
}
@mixin Bar_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $BG;
  mix-blend-mode: normal;
  
}
@mixin btn_link {
  font-family: $Fs;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: $BG;
  background: $DC;
  @include border(6px);
}
@mixin text {
  font-family: $Fs;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: white;
}
@mixin border($a){
  border-radius: $a;
}