
.collection__inner {
  padding-top: 136px;
  padding-bottom: 201px;
  max-width: 1111px;
}

.collection__bg_text {
  position: absolute;
  z-index: -1;
  max-width: 1111px;
  width: 100%;
  height: 196px;
  background-image: url("../../img/collectoin_bg.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.collection__list {
  @include dis-fle(center, space-between);
  margin-top: 196px;
}

.collection__item img {
  max-width: 255px;
}

.collection__item h4 {
  margin-top: 72px;
  @include h4;
  text-align: center;
  color: $DGB;
}

.collection__item p {
  max-width: 255px;
  margin-top: 24px;
  text-align: center;
  @include Bar_text;
  color: $DGB;
}

@media screen and (max-width: 930px) {
  .collection__bg_text {
    max-width: 850px;
    height: 118px;
    width: 100%;
    background-image: url("../../img/collection_tablet.png");
    background-repeat: no-repeat;
    background-position: center top;
  }

  .collection__list {
    margin-top: 50px;
    flex-direction: column;
  }

  .collection__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 32px;
  }

  .collection__item h4 {
    margin: 0;
  }

  .collection__item h4,
  .collection__item p {
    text-align: left;
  }
}

@media screen and (max-width: 567px) {
  .collection__bg_text {
    max-width: 517px;
    width: 100%;
    background-image: url("../../img/collection_mobile.png");
    background-repeat: no-repeat;
  }

  .collection__item{
    flex-direction: column;
    margin-bottom: 48px;
  }
  .collection__item h4,
  .collection__item p {
    text-align: center;
  }
}