.maker_hero {
  padding-bottom: 168px;
}

.maker_hero__inner {
  background-image: url("../../img/maker_img.png");
  background-repeat: no-repeat;
  @include border(10px);
  padding: 134px 85px;
}

.maker_hero__inner h1 {
  margin-bottom: 32px;
  @include h1;
}

.maker_hero__inner p {
  width: 445px;
  @include Bar_text;
  opacity: 0.8;
}

