.working {
  padding-bottom: 200px;
}

.working__inner {
  margin: 0 80px;
}

.working__title h4 {
  margin-bottom: 80px;
  @include h4;
  color: $Gy;
}

.working__graph {
  max-width: 780px;
  width: 100%;
  @include dis-fle(none, space-between);
  margin-bottom: 67px;
}

.working__line {
  position: absolute;
  z-index: -1;
  max-width: 760px;
  width: 100%;
  height: 0;
  margin-top: 13px;
  border: 2px solid $PO;
  background-color: $PO;
}

.working__oval {
  max-width: 31px;
  width: 100%;
  height: 31px;
  background-color: $BG;
  border: 1px solid $DC;
  @include border(50%);
}

.working__list {
  @include dis-fle(center, space-between);
  margin-bottom: 64px;
}

.working__item {
  max-width: 285px;
  width: 100%;
}

.working__item span {
  display: inline-block;
  margin-bottom: 38px;
  @include h1;
  color: $PO;
}

.working__item h3 {
  max-width: 255px;
  width: 100%;
  margin-bottom: 42px;
  font-family: $Fs;
  @include h3;
  text-align: left;
}

.working__item p {
  @include Bar_text;
  color: $DGB;
}

.working__btn_link {
  display: inline-block;
  padding: 16px 31px;
  @include btn_link;
}

.working__btn_link:hover {
  background-color: $hov-col;
}

.working__btn_link:disabled {
  background-color: $dis-col;
}

@media screen and (max-width: 930px) {
  .working__graph{
    max-width: 780px;
  }
  .working__line {
    max-width: 100%;

  }

  .working__oval {}

  .working__inner {
    margin: 0;
  }
}

@media screen and (max-width:567px) {}